{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>personal Portfolio (Sudipta Sen)</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div id="header">
      <div class="container">
        <nav>
          <img src="{% static 'images/logo.png' %}" class="logo" alt="Sudipta Sen Logo" />
          <ul class="nav-links">
            <li><a href="#header">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <div class="menu-toggle" id="menu-toggle">
            <span></span><span></span><span></span>
          </div>
        </nav>
        <div class="header-text animate-fade-in">
          <p>Data Driven Computer Enthusiast</p>
          <h1>
            Hi! I'm <span>Sudipta Sen</span> <br />
            From India
          </h1>
        </div>
      </div>
    </div>
    <!-- ----------------about-------------------- -->
    <div id="about">
      <div class="container">
        <div class="row">
          <div class="about-col-1 animate-slide-in-left">
            <img src="{% static 'images/user.png' %}" alt="Sudipta Sen" />
          </div>
          <div class="about-col-2 animate-slide-in-right">
            <h1>About Me</h1>
            <p>
              Enthusiastic and driven Computer Science student with a strong foundation in software development and design
              patterns. Adept at collaborating on projects and passionate about problem-solving and innovation. Proven ability to
              leverage programming skills in Java and Python to develop user-centric solutions. Eager to apply theoretical
              knowledge from academic coursework in a practical, real-world setting. Actively seeking opportunities to contribute to
              software development projects that require a detail-oriented and analytical approach.
            </p>
            <a href="{% static 'images/my-cv.pdf' %}" class="btn" download>Download CV</a>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------skills-------------------- -->
    <div id="skills">
      <div class="container">
        <h1 class="section-title animate-fade-in">Skills</h1>
        <div class="skills-list">
          <div class="skill-card animate-pop-in">
            <h2>Frontend</h2>
            <p>HTML, CSS, JavaScript</p>
          </div>
          <div class="skill-card animate-pop-in">
            <h2>Backend</h2>
            <p>Django, FastAPI, Python, Java</p>
          </div>
          <div class="skill-card animate-pop-in">
            <h2>Data</h2>
            <p>SQL, MongoDB, Pandas, Excel</p>
          </div>
          <div class="skill-card animate-pop-in">
            <h2>Other</h2>
            <p>Git, Linux, APIs</p>
          </div>
          <div class="skill-card animate-pop-in">
            <h2>Data Science</h2>
            <p>Python, SQL, Machine Learning,<br> Deep Learning, Scikit-learn, Tensorflow,<br> Numpy, OpenCV, Pandas</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------projects-------------------- -->
    <div id="projects">
      <div class="container">
        <h1 class="section-title animate-fade-in">Projects</h1>
        <div class="projects-list">
          <div class="project-card">
            <img src="{% static 'images/work-1.png' %}" alt="Project 1" />
            <div class="project-info">
              <h2>HOUSING PRICE PREDICTOR(JAVA)</h2>
              <p>
                Built a CLI-based linear regression model from scratch to predict house prices using gradient descent with learning rate decay and CSV-based input.
              </p>
            </div>
            <div class="project-overlay">
              <h3>HOUSING PRICE PREDICTOR(JAVA)</h3>
              <p>
                Role: Java Personal Project<br />Tech: Java,
                CSV-based input
              </p>
              <a href="#" target="_blank">View Project</a>
            </div>
          </div>
          <div class="project-card">
            <img src="{% static 'images/work-2.jpg' %}" alt="Project 2" />
            <div class="project-info">
              <h2>FIT CIRCUIT(NEXT JS)</h2>
              <p>
               Contributed to developing an AI chatbot using Botpress integrated the app with Gemini, Openai and Mistral APIs for intelligent, real-time fitness and nutrition support.Handled API integration and managed conversational flows to deliver personalized workout and diet advice.Enhanced user experience with seamless AI-driven interactions.
              </p>
            </div>
            <div class="project-overlay">
              <h3>FIT CIRCUIT(NEXT JS)</h3>
              <p>
                Role: Backend Developer<br />Tech: Botpress, NextJS, DGemini, Mistral, OpenAI
              </p>
              <a href="#" target="_blank">View Project</a>
            </div>
          </div>
          <div class="project-card">
            <img src="{% static 'images/work-3.png' %}" alt="Project 3" />
            <div class="project-info">
              <h2>LEAD TRACKER(HTML, CSS, JS)</h2>
              <p>
                A Personal leads tacking extension to help you track your visited web pages.
              </p>
            </div>
            <div class="project-overlay">
              <h3>LEAD TRACKER(HTML, CSS, JS)</h3>
              <p>
                Role: Designer & Developer<br />Tech: HTML, CSS, JS
              </p>
              <a href="#" target="_blank">View Source</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------contact-------------------- -->
    <div id="contact">
      <div class="container">
        <h1 class="section-title animate-fade-in">Contact Me</h1>
        <div class="contact-row">
          <div class="contact-left animate-slide-in-left">
            <h2>Let's Connect!</h2>
            <p>
              Email:
              <a href="sensudipta594@gmail.com">sensudipta594@gmail.com</a>
            </p>
            <p>
              LinkedIn:
              <a href="https://www.linkedin.com/in/sudipta-sen-841aa0253/" target="_blank"
                >https://www.linkedin.com/in/sudipta-sen-841aa0253/</a
              >
            </p>
          </div>
          <div class="contact-right animate-slide-in-right">
            <form id="contact-form">
              <input type="text" name="name" placeholder="Your Name" required />
              <input
                type="email"
                name="email"
                placeholder="Your Email"
                required
              />
              <textarea
                name="message"
                rows="5"
                placeholder="Your Message"
                required
              ></textarea>
              <button type="submit" class="btn">Send Message</button>
              <div id="form-status"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <p>&copy; 2025 Sudipta Sen. All rights reserved.</p>
      </div>
    </footer>
    <script src="script.js"></script>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
