Django>=5.1.6
Django>=5.1.6
gunicorn
whitenoise
psycopg2-binary
djangorestframework
django-cors-headers
django-environ
django-filter
django-extensions
django-debug-toolbar
dj_database-url
django-storages